<!DOCTYPE html>
<html>
    <head>
        <title>
            The registration window
        </title>
    </head>
    <body>
        <a href="{% url 'soccer' %}">
            <button>Soccerbot</button>
        </a>
        <br>

        <a href="{% url 'line-follow' %}">
            <button>Line follower Robot</button>
        </a>
        <br>

        <a href="{% url 'robo-racing' %}">
            <button>Robo Racing</button>
        </a>
        <br>

        <a href="{% url 'idea-gen' %}">
            <button>Idea Generation</button>
        </a>
        <br>

        <a href="{% url 'chatbot' %}">
            <button>Prompt Engineering</button>
        </a>
        <br>

        
    </body>
</html>